<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 접수 완료 - ExSports</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<section class="container">
    <h2>문의 접수 완료</h2>
    <p>문의해 주셔서 감사합니다. 최대한 빨리 답변드리겠습니다.</p>
    <a th:href="@{/customers}" class="btn btn-primary mb-3" id="goBoardBtn">문의 게시판 페이지로 가기</a>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
