<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="text-center p-3 bg-dark text-light" th:fragment="footer">
    <p class="text-light">&copy; POMA 2024</p>
    <div class="legal-links">
        <a href="#" class="text-decoration-none text-light">이용약관</a>
        <span class="text-light px-1">|</span>
        <a href="#" class="text-decoration-none text-light">개인정보취급방침</a>
        <span class="text-light px-1">|</span>
        <a href="https://github.com/kimtaehyun304/poma"><img class="rounded-circle Wh-40px mr-2" th:src="@{/images/github-icon.png}" alt="깃허브" /></a>
    </div>
</footer>