<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Match 선발 인원 수정</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<section class="container Mw-700px">
    <h1 th:text="|매치 인원 선발 (${teamMatch.maxSize/2}명)|"></h1>
    <span th:text="${teamMatch.id}" id="teamMatchId" class="d-none"></span>
    <span th:text="${teamMatch.sports}" id="sports" class="d-none"></span>
    <h2 class="my-4">멤버 목록</h2>
    <div th:if="${users.size() != 0}">
        <label class="d-block" th:each="user : ${users}">
            <th:block th:with="isContain=${teamMatch.userIdList.contains(user.id)}">
                <input type='checkbox' class="Wh-30px" name='userIdList' th:value="${user.id}" th:checked="${isContain}"/>
            </th:block>
            <span class="Font-size-30px" th:text="${user.name}"></span>
        </label>
        <button class="btn btn-primary w-100" id="applyButton">수정하기</button>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/js/match/editTeamMatchForm.js}"></script>
</body>
</html>